:root {
  --color-lines: grey;
}

.img__profile {
  /*temporary width & height*/
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  border-top: 1px solid var(--color-lines);
  text-align: center;
}
