@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --color-lines: #12232e;
  --color-lines-sections: #f7f0e8;
  --color-background: #eefbfb;
  --color-nav: #ffffff;
  --color-accent: #398982;
  --color-link: #398982;
  --color-modal: #ffffff;
  --color-input: white;
}

.dark {
  --color-background: #203647;
  --color-lines: #eefbfb;
  --color-nav: #2a475e;
  --color-accent: #398982;
  --color-link: #eefbfb;
  --color-modal: #2a475e;
  --color-input: #d1e5f5;


  /*
  --color-lines-sections: ;
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--color-lines);
  line-height: 1.9;
  background-color: var(--color-background);
}

/* NAVIGATION*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.navbar.sticky {
  position: fixed;
  background-color: var(--color-nav);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
  font-size: 5.5rem;
  color: var(--color-accent);
  font-weight: bold;
  text-decoration: none;
  line-height: 0.7;
  vertical-align: middle;
}

.nab__mobile-toggle {
  visibility: hidden;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: #398982;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #398982;
  color: #eefbfb;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #F18953;
  color: #eefbfb;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 3rem;
  column-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}
.header__img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / span 4;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-lines);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  grid-column: 1 / 2;
}

.btn {
  display: inline-block;
  background-color: #398982;
  color: white;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #F18953;
  color: #eefbfb;
}

h1 {
  font-size: 4rem;
  line-height: 1.35;
  grid-row: third-line / 4;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

/* SECTIONS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid var(--color-lines-sections);
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.about__img {
  width: 100%;
}

.about__text {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.about__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.img__profile {
  /*temporary width & height*/
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

/*Not necessary anymore?*/
.text--large {
  font-size: 1.7rem;
  font-weight: 400;
}

.text-bagency {
  color: var(--color-accent);
  font-weight: bold;
}
/*Not necessary anymore?*/

.link--clickable {
  color: var(--color-link);
}

/* FOOTER */
.footer {
  border-top: 1px solid var(--color-lines);
  text-align: center;
  padding: 10rem 3rem;
}

.footer__navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-lines);
}

/*Toggle Switch*/
.switch-container {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  background: none;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-right: 0.5em;
}

.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
}

.slider {
  background: var(--color-lines-sections);
  /*width: 100%;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 35px;
  pointer-events: none;
  transition: 0.5s;
}

.slider:before {
  /*actual button*/
  content: '';
  background-color: var(--color-accent);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.2s;
}

/*Toggle after click*/
input:checked + .slider {
} /*could change toggle-color on click*/
input:checked + .slider:before {
  transform: translateX(26px);
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color:var(--color-modal);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.5rem;
}

.modal__form_error {
  vertical-align: top;
  height: 3rem"
}

.modal__form label {
  font-size: 1.4rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: var(--color-input);
}

.modal__form textarea {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: var(--color-input);

}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.team__form {
  max-width: 100ch;
  margin: 2vh auto;
}

.required, .error {
  color: red;
  /* vertical-align: super; */
  font-style: italic;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.removed {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    position: fixed;
  }

  .nav__item {
    margin-left: 1rem;
  }

  .nav__logo {
    height: 6rem;
    font-size: 3rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 3vw;
  }

  h1 {
    font-size: 7.5vw;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-bottom: 1rem;
  }

  .modal__header {
    font-size: 7vw;
  }

  .btn--close-modal {
    font-size: 10vw;
  }

  .btn {
    font-size: 3.7vw;
    padding: 2rem 3rem;
  }

  .header__text {
    row-gap: 0;
  }

  .header__img {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    place-self: center;
  }

  .btn--text {
    font-size: 4vw;
  }

  .section {
    padding: 10rem 3rem;
  }

  .footer__link,
  .switch-container > * {
    font-size: 3.7vw;
  }

  .footer__item {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .footer {
    padding: 6rem 2rem;
  }
}
